em{

    font-family: "Pokemon";
}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p{

    text-align: justify;
    font-size: 1.4em;
    margin-bottom: 20px;
}

a{

    background: linear-gradient(rgb(206 34 17), rgb(229 66 34));
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.5vh;
    border-radius: 20px;
    font-weight: bold;
    min-height: 20px;
    width: 30vw;
    margin-bottom: 15px;
    height: 3.8vh;
    font-size: 1.4em;
}

