

.list{

    padding-left: 0;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}

.elt a{

    font-weight: bold;
    font-size: 1.4em;
    color: black;
    text-align: center;
    padding: 0.5vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.elt{

    width: 15vw;
    text-align: center;
    height: 100%;
    display: inline-block;
    border: 1px solid black;

}

.elt:hover{

    border: 1px solid black;
}

.elt img{

    border-radius: 100px;
    height: 90%;
    width: 90%;
    padding-left: 10%;
}


#pokedexPage{

    display: flex;
    flex-direction: column;
}

#pokedexPage img{

    height: 20vh;
    width: 20vh;
}

#description{

    display: flex;
    flex-direction: column;
}

#description p{

    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

#description p em{

    font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: bold;
}




