

.list{

    padding-left: 0;
    height: 18vh;
    width: 100%;
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    justify-content: space-evenly;
}

#pokemons{

    height: 20vh;
}

.elt a{

    font-weight: bold;
    font-size: 1.4em;
    color: black;
    text-align: center;
    padding: 0.5vh;
    text-decoration: none;
}

.elt input{

    background: linear-gradient(rgb(206 34 17), rgb(229 66 34));
    border: 1px solid black;
    color: white;
}

.elt{

    width: 15vw;
    text-align: center;
    height: 100%;
    display: inline-block;

}

.elt:hover{

    border: 1px solid black;
}

.elt img{

    border-radius: 100px;
    height: 50%;
    width: 50%;
    padding-left: 25%;
}

#user a{
    display: flex;
    flex-direction: column;
}

#pokemon a{
    display: flex;
    flex-direction: column;
}

#exchange div{

    display: flex;
    flex-direction: column;
}